#app {
	padding: 0 0 2rem 0;
	width: 40rem;
	max-width: 80%;
	margin: 0 auto;
}

.rfa-container {
	height: 100%;
}

.rfa-footer {
	margin-top: 2rem;
	padding: 1rem 0 3rem 0;
	text-align: center;
	border-top: 1px solid var(--main-fg-color);
	font-size: 0.8rem;
}

@media screen and (min-width: 30rem) {
	#app {
		padding: 2rem;
	}

	.rfa-footer {
		padding: 1rem 0 0 0;
	}
}
