.rfa-goodreads-currently-reading img {
	margin-right: 1rem;
	height: 60px;
}

.rfa-goodreads-currently-reading {
	display: flex;
	align-items:center;
	margin: 2rem 0;
	line-height: 1.25;
}

.rfa-goodreads-currently-reading-title {
	font-weight: 600;
}

.rfa-goodreads-currently-reading-authors {
	font-size: 0.9rem;
}
