/* Landing */

@import url('https://rsms.me/inter/inter.css');

:root {
	--main-bg-color: white;
	--main-fg-color: black;
	--button-border-color: #333;
}

@media (prefers-color-scheme: dark) {
	:root {
		--main-bg-color: black;
		--main-fg-color: white;
		--button-border-color: #ccc;
	}
}

body {
	background: var(--main-bg-color);
	color: var(--main-fg-color);
	margin: 0;
	padding: 0;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

p {
	line-height: 1.5;
}

a {
	color: var(--main-fg-color);
}

.rfa-input {
	background: var(--main-bg-color);
	color: var(--main-fg-color);
	padding: 0 10px;
	margin: 10px 0;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	border: 1px solid var(--main-fg-color);
	display: inline-block;
	border-radius: 0;
	margin-right: 4px;
}

.rfa-button {
	background: var(--main-bg-color);
	color: var(--main-fg-color);
	padding: 0 10px;
	margin: 10px 0;
	height: 32px;
	font-size: 14px;
	line-height: 30px;
	border: 1px solid var(--main-fg-color);
	display: inline-block;
	margin-right: 4px;
	cursor: pointer;
}

p.rfa-recaptcha-terms {
	font-size: 12px;
	opacity: 0.4;
}

.rfa-input:disabled, .rfa-button:disabled {
	opacity: 0.3;
}

.rfa-button-small {
	font-size: 10px;
	height: 20px;
	line-height: 20px;
	padding: 0 4px;
	margin: 0 4px;
}


.grecaptcha-badge{display:none}
