.rfa-timer {
	font-size: 1.5rem;
}

.rfa-reading-sessions-table {
	width: 100%;
	border-collapse: separate;
}

.rfa-reading-sessions-table th {
	font-weight: normal;
	text-align: left;
	min-width: 80px;
	border-bottom: 1px solid var(--main-fg-color);
	border-spacing: 4rem;
}

.rfa-summary {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}

.rfa-summary-section {
	margin: 1rem 0;
	flex: 100%;
}

@media screen and (min-width: 500px) {
	.rfa-summary-section {
		flex: 50%;
	}
}


.rfa-summary-heading {
	font-size: 0.75rem;
	opacity: 0.9;
	text-transform: uppercase;
}

.rfa-summary-time {
	font-weight: bold;
	font-size: 3rem;
	margin-top: 1rem;
}

.rfa-chart-axis {
	opacity: 0.5;
	font-size: 0.8rem;
}

.rfa-chart-bar {
	fill: var(--main-fg-color);
}
