.rfa-timer {
	font-size: 1.5rem;
}

.rfa-reading-sessions-table {
	width: 100%;
	border-collapse: separate;
}

.rfa-reading-sessions-table th {
	font-weight: normal;
	text-align: left;
	min-width: 80px;
	border-bottom: 1px solid var(--main-fg-color);
	border-spacing: 4rem;
}

.rfa-summary {
	text-align: center;
	padding: 2rem;
}

.rfa-summary-heading {
	font-size: 0.5rem;
	opacity: 0.8;
	text-transform: uppercase;
	font-weight: bold;
}

.rfa-summary-time {
	font-weight: bold;
	font-size: 3rem;
	margin-top: 1rem;
}