#!/bin/sh
docker kill db
docker rm db
docker pull postgres:12-alpine
docker run --name db --rm -v /home/ubuntu/data:/var/lib/postgresql/data -e POSTGRES_PASSWORD={{postgres_password}} --publish=5432:5432 \
  postgres:12-alpine 2>&1
