#!/bin/sh
docker kill app
docker rm app
docker pull docker.pkg.github.com/preetam/readfasterapp/app:{{build_sha}}
docker run --name app --rm -w /serve --net=host --publish=8000:8000 \
  --entrypoint /serve/main docker.pkg.github.com/preetam/readfasterapp/app:{{build_sha}} \
  -listen=:8000 \
  -db '{{postgres_connection_string}}' \
  -recaptcha-secret '{{recaptcha_secret}}' \
  -mailgun-key '{{mailgun_key}}' \
  2>&1
