dev.readfaster.app {
	gzip
	proxy / localhost:8000
	tls cert@preet.am
}

www.readfaster.app, prod.readfaster.app {
	gzip
	proxy / localhost:8000
	tls cert@preet.am
}

readfaster.app {
	gzip
	proxy / localhost:8000
	tls cert@preet.am
	redir https://www.readfaster.app{uri}
}
