dev.readfaster.app {
	gzip
	proxy / localhost:8000
	tls cert@preet.am
}

prod.readfaster.app {
	gzip
	proxy / localhost:8000
	tls cert@preet.am
}

readfaster.app, www.readfaster.app {
	header / -server
	gzip
	proxy / localhost:8000
	tls cert@preet.am
}
